<app-loader  *ngIf="loader"></app-loader>

<div class="container-fluid py-1" *ngIf="!loader">
  <div class="row">
    <div class="col-12 py-2">
      <div class="row">
        <div class="col-md-4">
          <form [formGroup]="form">
          <input
          formControlName="search"
            class="form-control"
            type="text"
            placeholder="Filter By Category"
         
          />
        </form>
        </div>
      </div>
    </div>
  </div>

  <app-posts [categoryName]="inputValue"></app-posts>
</div>
